
body {
	font-family: 'Poppins', sans-serif;
	color: #ff0000; /* Light text on dark background */
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

header {
	background-color: #4CAF50;
	color: white;
	padding: 20px;
	text-align: center;
}

header h1 { 
	margin: 0;
}

nav {
	background: #111;
	padding: 15px;
	text-align: center;
}	

nav a { 
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	transition: color 0.3s ease-in-out;
}	



nav a:hover { 
	color: #ffcc00; /* Highlight effect */
}	

main { 
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

main img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 20px 0;
}

footer { 
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

p { 
	font-size: 1.1em;
}

a { 
	color: #4CAF50;
	text-decoration: none;
}

a:hover { 
	text-decoration: underline;
}

img { 
	border: 5px solid #660000;
	border-radius: 10px;
}

main a[href ="malito:"] {
	color: #ff5722;
	font-weight: bold;
}

.menu a {
	color: green;
}	
	
button {
	background: #ffcc00;
	color: #000;
	border: none;
	padding: 10px 20px
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

button:hover {
	transform: scale[1.1]; /* Slight zoom effect */
}

html {
	scroll-behaviour: smooth;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #ffcc00;
	border-radius: 4px;
}	
